<div class='explorer-tab'>
  <span>
    {{frost-icon icon='chevron' pack='frost'}}
  </span>
</div>
{{#each fileTree as |node|}}
  {{frost-file-node fileNode=node onFileClick='onFileClick'}}
{{/each}}
