@import './node_modules/ember-frost-core/addon/styles/addon';
@import './github-markdown';

$demo-nav-container-hoverable-action-hover-border: #009ade;
$demo-navbar-bg-color: #33424f;
$demo-navbar-box-shadow: rgba(0, 0, 0, .5);
$popup-menu-item: #404041;
$popup-menu-item-hover: rgba(0, 158, 239, .08);
$popup-menu-link-border: rgba(0, 158, 239, .08)#e8e8ef;

.tooltip-frost-popover {
  .frost-button {
    width: 100%;
  }
}

.demo-navbar-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9000;

  .frost-button {
    height: 50px;

    &:focus {
      box-shadow: none;
    }

    .text {
      margin-left: 0;
      color: $frost-color-grey-5;
    }

    .icon-text {
      min-width: auto;
    }
  }

  .app-bar-icon,
  .frost-icon,
  .frost-svg {
    width: 35px;
    height: 35px;
    transition: transform .2s;
  }

  .frost-icon {
    &.expand {
      width: 18px;
      height: 18px;
      margin: 5px;
    }
  }

  .hoverable-action {
    &:hover {
      margin-bottom: -5px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid $demo-nav-container-hoverable-action-hover-border;
      border-radius: 0;
      color: $frost-color-white;

      .app-bar-icon,
      .frost-icon,
      .frost-svg {
        transform: scale(1.1);
      }

      .text {
        color: $frost-color-white;
      }
    }
  }

  .active {
    .hoverable-action {
      margin-bottom: -5px;
      border-top: 5px solid transparent;
      border-bottom: 5px solid $demo-nav-container-hoverable-action-hover-border;
      color: $frost-color-white;

      border-radius: 0;

      .app-bar-icon,
      .frost-icon,
      .frost-svg {
        transform: scale(1.1);
      }

      .text {
        color: $frost-color-white;
      }
    }
  }
}

.demo-navbar {
  display: flex;
  position: relative;
  height: 50px;
  background-color: $demo-navbar-bg-color;
  box-shadow: 0 0 2px $demo-navbar-box-shadow;
  z-index: 1;

  .brand {
    padding: 0;

    .frost-icon {
      display: flex;
      align-items: center;
      width: 125px;
      height: 25px;
      margin: 0 30px;
    }
  }

  .navigation {
    padding: 0 10px;
    cursor: pointer;

    &.menu {
      padding: 0 20px;
    }
  }
}

.popup-menu {
  text-align: left;

  a {
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  li {
    width: 100%;
    height: 30px;
    padding: 0 15px;
    color: $popup-menu-item;
    line-height: 30px;
    cursor: pointer;

    &:hover {
      background: $popup-menu-item-hover;
    }
  }

  a {
    &:not(:last-child) {
      li {
        border-bottom: solid 1px $popup-menu-link-border;
      }
    }
  }
}

.demo-container {
  position: absolute;
  top: 50px;
  left: 20px;
  right: 20px;
  margin-bottom: 20px;

  &.fullscreen {
    bottom: 20px;
    margin-bottom: 0;
  }
}

.demo-banner {
  height: 80px;

  h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 10px 0;
  }

  p:before {
    content: '> '
  }

  p {
    font-size: 18px;
    color: #888;
    padding: 5px 0;
    margin: 0;
    border-radius: 5px;
    font-weight: 100;
  }
}

.demo-editor {
  border: 1px solid #ccc;

  .ribbon {
    height: 35px;
    color: #888;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;

    .tabs {
      display: flex;
      height: 35px;
      align-items: center;

      .tab {
        margin: 2px;
        font-size: 15px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;

        &:hover,
        &.active {
          background-color: #888;
          border-radius: 10px;
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  .demo-doc {
    width: 100%;
    background-color: white;
    padding: 5px 10px;
  }

  .demo-code {
    width: 100%;
    position: relative;

    .CodeMirror {
      height: 100%;

      .CodeMirror-code {
        min-height: 400px;
      }
    }
  }
}

.demo-showcase {
  position: relative;
  overflow: hidden;

  .demo-editor {
    width: 750px;
  }

  .demo-view {
    position: absolute;
    width: calc(100% - 750px);
    top: 0;
    left: 750px;
  }
}

.fullscreen {
  .demo-showcase {
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #ccc;

    .demo-editor {
      height: 100%;
      border: none;
      border-right: 1px solid #ccc;

      .ribbon {
        position: absolute;
        left: 0;
        top: 0;
        width: 35px;
        height: auto;
        bottom: 0;
        border-right: 1px solid #ccc;
        border-bottom: none;
        z-index: 100;

        .tabs {
          transform: rotate(-90deg) translateX(-200px);
          transform-origin: left top;
        }
      }

      .demo-doc,
      .demo-code {
        width: calc(100% - 35px);
        margin-left: 35px;
        overflow-y: auto;
      }

      .demo-doc {
        height: 100%;
      }

      .demo-code {
        height: calc(100% - 25px);
      }
    }

    .demo-view {
      bottom: 0;
    }
  }
}

.fullscreen {
  .file-explorer-panel {
    top: 0;
    bottom: 0;
    left: 35px;

    &.explorer-collapsed {
      left: -165px;
    }
  }
}

.file-explorer-panel {
  position: absolute;
  top: 36px;
  bottom: 1px;
  width: 200px;
  z-index: 1000;
  background-color: whitesmoke;
  color: grey;
  box-shadow: 5px 0 10px rgba(0, 0, 0, .1);
  font-size: 16px;
  z-index: 10;
  border-right: 1px solid #ccc;

  &.explorer-collapsed {
    left: -200px;

    svg {
      &.frost-icon {
        transform: rotate(180deg)
      }
    }
  }

  .folder {
    &>.file-entry {
      font-weight: bold;

      .file-icon {
        background-image: url(../ember-frost-demo-components/svg/folder.svg);
      }

      svg {
        &.frost-icon {
          visibility: visible;
          fill: #999;
          transform: rotate(-90deg);
        }
      }
    }
  }

  &.collapsed>.file-entry svg.frost-icon {
    transform: rotate(180deg);
  }

  .file-entry {
    display: flex;
    align-items: center;
    padding: 2px 20px 2px 10px;
    margin: 0;
    font-weight: normal;
    cursor: pointer;

    &:hover {
      background-color: rgba(0,83,159,.65);
      color: white;
    }

    svg {
      &.frost-icon {
        display: block;
        visibility: hidden;
        width: 14px;
        height: 14px;
        margin: 2px;
      }
    }
  }
}

.file-icon {
  display: inline-block;
  margin: 2px;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-image: url(../ember-frost-demo-components/svg/file.svg)
}

.explorer-tab {
  position: absolute;
  height: 150px;
  right: -25px;
  width: 25px;
  cursor: pointer;

  span {
    display: flex;
    width: 25px;
    height: 25px;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    align-items: center;
    justify-content: center;
  }

  svg {
    &.frost-icon {
      width: 14px;
      height: 14px;
      fill: #888;
    }
  }
}

.tab-gutter {
  width: 100%;
  height: 25px;
  background-color: whitesmoke;
  border-bottom: 1px solid #ccc;
}
